@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
body{
  font-family:'Explora';
  
}
ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
ol.c {
    list-style-type: upper-roman;
  }
  
ol.d {
    list-style-type: lower-alpha;
  }
  ul.e{
    list-style-image: url('fraud.png');
    list-style-position:inside;
  }